ingestion/pipeline/IterateAndPullUsWest2.json
{
	"name": "IterateAndPullUsWest2",
	"properties": {
		"activities": [
			{
				"name": "GetListOfCsvFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "TaxiDatasetList",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetListOfCsvFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetListOfCsvFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Download",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"skipLineCount": 1
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "StagingBlobUSWest2",
										"type": "LinkedServiceReference"
									},
									"path": "yellow/temp"
								}
							},
							"inputs": [
								{
									"referenceName": "TaxiSourceData",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().Prop_0",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataUsWest2",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().Prop_0",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CopyFailed",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Download",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "TaxiSourceData",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().Prop_0",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ErrorFileUsWest2",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().Prop_0",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string",
				"defaultValue": "yellow_data_urls.txt"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}